[2019-08-09 10:58] bharath2232 opened #18 "Uncaught No such file"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-08-09 13:34] artiebits commented on #18
Hi Bharat, thanks for reporting the issue.

The utility will throw `No such file` error if the given PDF file does not exist in the file system. It means if you trying to print a PDF from URL it won't download the file for you. You can take a look at [this example ](https://github.com/artiebits/pdf-to-printer/tree/master/examples/express-server) to see how to download PDF files and use them with `

[2019-08-12 05:18] anuraagvaidya opened #20 "print() fails when there is a space in the path from which the script is run"
Hey,

`.print()` fails when there is a space in the path when using on Windows OS.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1) Create a directory with spaces on it on Windows 10 OS
2) Store a PDF in an "assets" folder
3) Copy commands from the readme.

**Expected behavior**
Path should be placed in quotes when sending to PDF engine

**Desktop (please complete the following inform

[2019-08-12 08:45] artiebits commented on #20
Hi Anuraag,

Thank you for reporting, will be fixed ASAP.

[2019-08-12 12:56] artiebits opened #21 "Run ESLint on __test__ folder"
Existing lint script runs ESLint on `src`, `webpack.production.config.js`, and `examples` folders only. The solution might be adding  `__test__` and `__mock__` folders to that script as well.

[2019-08-12 20:50] artiebits commented on #20
@anuraagvaidya, a beta version `1.0.1-beta.0` with a fix from @khannanova has been published. You can do `npm install --save pdf-to-printer@1.0.1-beta.0` to check if it works. I have tried it on a Windows machine, seems to work fine. Please let me know if it helps you so I can merge it to master.

Looking forward to hearing from you.

[2019-08-12 21:14] brandonsay95 commented on #20
I can verify that this resolved my issue with spaces in the path

[2019-08-13 15:55] artiebits commented on #20
@anuraagvaidya I am closing the issue since it seems to be fixed.

[2019-08-13 16:47] #20 closed

[2019-08-13 16:48] artiebits commented on #18
hi @bharath2232, did you manage to solve your issue?

[2019-08-14 09:16] bharath2232 commented on #18
Hi @artiebits , Yes I Managed to solve it, but I a new issue, in dev it working fine, But in Production, it's Printing two time. Do you know any solution for it?

[2019-08-14 09:39] artiebits commented on #18
@bharath2232 Did you check your printer settings? Do you use the same printer on dev and prod?

Pdf-to-printer uses the printer setting from your machine so the problem might be there. Otherwise, I need to see the code or be able to test it.

Looking forward to hearing from you.

[2019-08-16 05:59] artiebits commented on #18
hi @bharath2232 how it's going?

[2019-08-16 16:48] artiebits commented on #21
done

[2019-08-16 16:48] #21 closed

[2019-08-22 11:40] joernroeder opened #25 "Printer listing fails on macOS"
Printer listing fails on macOS 10.12 and the child process exits with the following error.
Ti seems like `lpstat` uses different arguments.

[code]

[2019-08-22 11:42] artiebits commented on #25
HI @joernroeder, thank you very much for reporting the issue. I will take a look at it today later, but feel free to open a PR if you want to!

[2019-08-23 20:20] artiebits commented on #25
@joernroeder can you try `pdf-to-printer@1.0.3-beta.0` with the fix from @khannanova, please?

[2019-08-25 01:07] joernroeder commented on #25
@artiebits yes, #26 looks good to me. thanks @khannanova!

[2019-08-25 06:52] artiebits commented on #25
I am closing the issue then. Thank you all for contributing to the project!

[2019-08-25 06:52] #25 closed

[2019-08-26 13:41] #18 closed

[2019-09-12 16:50] matths opened #40 "__dirname in electron&vue (webpack) context not working"
I am having a tough time to get pdf silent print working in our electron-vue app.
The reason is, that pdf-to-printer is using __dirname in pdf-to-printer/src/win32/print.js, and in webpack context, this does not return the expected path as stated here:
https://simulatedgreg.gitbooks.io/electron-vue/content/en/main-process.html#on-the-subject-of-using-dirname--filename

[code]

**__dirname** return

[2019-09-14 12:14] artiebits commented on #40
Hi @matths,
thank you very much for reporting the issue! I will take a look at it.

[2019-09-15 10:35] Blume987 opened #41 "Not possible to print when printer is in black/white mode"
**Describe the bug**
I only have one black ink cartridge in the printer. What makes it impossible for me to print a black page. If I only allow black and white printing in the print settings, the print job cannot be started because the program wants to print in color.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove the color ink from your printer.
2. Try to print a pdf with only black

[2019-09-16 08:31] Blume987 commented on #41
Just saw the pullrequest: #19
Might be related and my issue would be fixed by adding an option like:
[code]

[2019-09-17 05:10] artiebits commented on #41
Hi @Blume987, thanks a lot for reporting the issue. Could you please try `lp filename` and `lp -o blackplot filename` and say me if the first command reproduces the issue and the second one solves it.

[2019-09-17 09:27] Blume987 commented on #41
Hi @artiebits , thanks four your help.
Unfortunately none of both commands work.
I'm not familiar enough with the lpr commands. But as it seems the printer tries to print with the color cartridge. Since it is empty and I only need black and white printouts at this printer, I don't want to insert a new color ink. Any ideas if there are other parameters or settings I could try to print only with the

[2019-09-17 12:12] artiebits commented on #41
thank you for testing it, Ben! if `lp -o blackplot filename` doesn't work then passing `blackplot` option to `print` method won't help.
Unfortunately, I am on a vacation for the next 2 weeks but I will try to find a printer with the black ink and find a solution asap.

[2019-09-20 09:46] Blume987 commented on #41
Thank you!
In the meantime I will get a color ink and try it again so we can be sure that the error is because of the missing color cartridge.

[2019-09-20 12:34] ervijjusty opened #42 "Getting Error while sent document for print"
Hello, I'm using Electron and angular I'm saved my pdf in pdf dir but getting error when printing

zone.js:391 Error: Command failed: "C:\Users\\Desktop\\node_modules\electron\dist\resources\electron.asar\renderer\SumatraPDF.exe" -print-to "Zebra" -silent "C:\Users\\AppData\Roaming\/pdf/digi-50726_1568982692.pdf"
The system cannot find the path specified.

    at ChildProcess.exithandler (child_pr

[2019-09-22 05:46] artiebits commented on #42
Hi @ervijjusty, thank you for reporting the issue. looks like it's related to  https://github.com/artiebits/pdf-to-printer/issues/40.
I am on a vacation for the next week, so don't expect me to replay soon. Sorry for this!

[2019-10-01 14:10] Blume987 commented on #41
Got a color cartridge and was able to print the black page. Sadly the page was printed in light gray.

[2019-10-03 14:22] BrunoGusChagas opened #53 "More options to print a PDF"
I would like to know if there is a way to set more options (not just the printer name) to the 'print' function.

At the moment on windows, if I print a PDF manually the result is not the same if I use the 'print' function. I'm pretty sure this is related with the option 'fit to page'.

Is there a way to include this option together with the printer name ?

[2019-10-03 17:16] BrunoGusChagas commented on #53
UPDATE:

I figure out that the problem was with the version of Sumatrapdf.
Do you guys think it is possible to add a option to set executable path of sumatra. In this way, if someone needs to use a old version of it, this can be easily managed

[2019-10-08 12:18] artiebits commented on #41
Hi @Blume987, sorry for the delay in response. I tested it on macOS 10.14 with a color cartridge and it works fine. I also tried to print on a Zebra printer which has a black ribbon. Works fine.
So I think the issue not in the pdf-to-printer itself also because nobody else reports the same issue.
Sorry, looks like I can do nothing here because I can't reproduce the issue.

[2019-10-09 05:34] Blume987 commented on #41
Thanks for looking into it.
Maybe it's the printer itself, or the driver. I've already tried different solutions, unfortunately without success. If I get something that works, I'll get back to you.

[2019-10-09 06:25] ervijjusty commented on #42
@artiebits any update on this ??

[2019-10-09 09:30] artiebits commented on #41
Thank you!

[2019-10-09 12:20] artiebits commented on #42
hi @ervijjusty, sorry for the delay in response. Do you have your code somewhere so I can clone it and investigate the issue?

[2019-10-09 12:25] artiebits commented on #53
Hi @BrunoGusChagas, what version of SumatraPDF works better for you? I heard v3.0.0 prints in better quality and works with images, so I think we just can change the current version to v3.0.0. Would it help you?

[2019-10-09 12:36] BrunoGusChagas commented on #53
Hi @artiebits, thanks for your answer ! Yes, the v3.0.0 will solve my problem.

[2019-10-10 10:02] ervijjusty commented on #42
@artiebits  sorry for that but i cannot  share the code becoz of internal policy.
 if needed so let me know I'll create a demo project for you.

[2019-10-11 12:53] artiebits commented on #42
@ervijjusty it would help, thank you!

[2019-10-14 08:27] nerdv2 commented on #40
As a temporary fix I just create the app.asar.unpacked folder inside resources folder and put the SumatraPDF after building the package using electron-builder.

[2019-10-14 11:29] #41 closed

[2019-10-15 10:40] Boy-W opened #55 "How to change A4 printing to A6"
My original PDF file is A6 size, but I can only print and save it as an A4 size PDF file through your extension, forcibly changing its size. Is there any way to adjust the size of the printed PDF?

[2019-10-15 14:14] artiebits commented on #55
Hi @Boy-W,

Thank you for opening the issue!
To print PDF files on macOS the utility uses [lp](https://www.computerhope.com/unix/ulp.htm), and uses [SumatraPDF](https://www.sumatrapdfreader.org/docs/Command-line-arguments.html) on Windows OS. So if you find any option that will help you to solve the problem then we can add more options to the print [method](https://github.com/artiebits/pdf-to-prin

[2019-10-16 03:14] Boy-W commented on #55
Then what if I want to use Electron to print A6 size PDF files?

[2019-10-28 15:50] koo9 opened #57 "printing from main process?"
**To Reproduce**
Steps to reproduce the behavior:
calling printer.print in the main process. error message should cannot read property 'print' of undefined.

**Expected behavior**
the pdf should be printed

**Screenshots**

**Desktop (please complete the following information):**
 - OS: windows 10
 - Browser chrome
 - Version 78.0.3904.70

saw the react example, question is, does it has to print i

[2019-10-28 18:40] koo9 commented on #57
looks like just importing the printer and use it like printer.print() won't work. need to use require() to get the printer, then it works.

[2019-10-29 04:25] #55 closed

[2019-10-29 08:24] artiebits commented on #57
Hi @koo9 `importing the printer and use it like printer.print() won't work` - do you mean the examples don't work for you?

[2019-10-29 14:36] artiebits commented on #57
If you share your project with me then I can investigate the issue.
But does import work for other packages in your project?

[2019-10-29 14:38] koo9 commented on #57
yes  it does. module like fs works fine with import

[2019-10-29 15:13] koo9 commented on #57
guess it's the different between
 import React from 'react' vs import * as React from 'react' looks like typescript use the latter.  so changing the import statement to import * as printer from 'pdf-to-printer'; works!

[2019-10-29 15:13] #57 closed

[2019-11-09 07:31] artiebits commented on #53
I am closing this issue because we solved it within #54

[2019-11-09 07:31] #53 closed

[2019-11-09 08:39] jablonskipj opened #66 "Error while installing on windows"
**Describe the bug**
When I set up my project with Node.js on Windows, install the `pdf-to-printer` and try to run the application it returns an error.

<img width="665" alt="Capture" src="https://user-images.githubusercontent.com/12045510/68525685-663fc900-02d4-11ea-800c-1f62aa727bd5.PNG">

**To Reproduce**
Steps to reproduce the behavior:
1. Set up the project on windows environment (with node.j

[2019-11-09 08:48] #66 closed

[2019-11-09 09:16] artiebits commented on #66
Hi @jablonskipj I am curious why you closed the issue. Did you manage to solve it?

[2019-11-09 11:57] jablonskipj commented on #66
@artiebits yes. It was my mistake. I had a test execution of `print` function with hardcoded `path` to a file that was not existing on the computer that I was testing the app on :).

[2019-11-09 13:52] artiebits commented on #66
ah, I see :)

[2019-11-14 14:24] xl736592857 opened #67 "When pdf path contains space,throws error"
This is my code:
[code]
logs:
[code]
/Users/xionglei/Library/Application Support/Electron/web_cache/out.pdf is exist

[2019-11-14 15:09] artiebits commented on #67
Hi @xl736592857 thanks for reporting the issue. I've managed to reproduce the issue and will fix it asap

[2019-11-14 15:27] artiebits commented on #67
@xl736592857 could you try version `pdf-to-printer@1.0.8-beta.0`, please? It contains the fix https://github.com/artiebits/pdf-to-printer/pull/68

[2019-11-14 22:12] jablonskipj opened #69 "Possibility to set the print size"
**Describe the solution you'd like**
I have a problem with the size of the printed label on the Zebra printer. I have a label that has to be 10x15 and when I print it manually out of the pdf file it is printed correctly (10x15), but when I have printed the same pdf using the library the end result is 70% of the destination size.

**Describe alternatives you've considered**
I was thinking about the

[2019-11-15 03:54] xl736592857 commented on #67
Thank you for your reply.pdf-to-printer@1.0.8-beta.0 has fix it.

[2019-11-15 09:28] artiebits commented on #69
Hi @jablonskipj, thanks for reporting the issue. There is a big discussion about how to implement options https://github.com/artiebits/pdf-to-printer/pull/19 but we still didn't find a proper solution. Any ideas? ;)

[2019-11-17 11:40] artiebits commented on #69
Hi @jablonskipj, i've published `pdf-to-printer@1.1.0-beta.0` version with the solution that should solve your problem https://github.com/artiebits/pdf-to-printer/pull/70. Maybe the solution is not that good but can be improved later.

[2019-11-18 08:23] jablonskipj commented on #69
@artiebits thank you for the answer. I will take a look at this week, so I will be able to give feedback soon :)

[2019-11-18 12:17] jablonskipj commented on #69
@artiebits I have one question. do you want me to make the Code Review if the solution will be working?

[2019-11-18 12:29] artiebits commented on #69
Hi @jablonskipj, please do if you want to review and give suggestions. But installing this beta version into your project and saying if it works or not is enough as well :). Thank you!

[2019-11-19 12:01] artiebits commented on #69
Hi @jablonskipj, I've merged PR #70, if it solves your problem then I think this issue can be closed. Thanks!

[2019-11-19 21:13] jablonskipj commented on #69
@artiebits great, thanks!

[2019-11-20 02:59] xl736592857 commented on #67
In the version 1.1.0,this error happened

[2019-11-20 08:28] artiebits commented on #67
@xl736592857 I am sorry for this, I will check it out today

[2019-11-20 17:09] rafcontreras opened #71 "Print specific pages"
Hi there,

Is there an option to print only specific pages of the document? Cheers.

[2019-11-20 17:36] artiebits commented on #71
Hi @rafcontreras

As described here https://github.com/artiebits/pdf-to-printer#api to print pages 1 and 3 you do:

[code]

Will this help you?

[2019-11-20 19:14] jablonskipj commented on #69
I have to reopen the issue. I have used both `win32: ['-print-settings "2x"']` and `win32: ['-print-settings "fit"']` and it does not work for the Zebra printer. After I execute the `print` method with these options the printer does not change the size of the resulting print, but the function also throws info to the catch callback

[code]

or

[code]
C:\\node-printer-server\\node_modules\\pdf-to-p

[2019-11-21 12:30] artiebits commented on #69
Sorry to hear this. Could you please download SumatraPDF.exe v3.0.0 (the version we currently use) and try to run it with `-print-settings "2x"` and `-print-settings "fit"` and see if it works. Also, I would suggest trying SumatraPDF.exe version v3.0.1, if it solves the problem then we can upgrade the version. Thank you.

[2019-11-23 07:36] artiebits commented on #67
Hi @xl736592857, I've just tested printing in version 1.1.0 like this `.print('/Users/arthur/Library/Application Support/Electron/web_cache/dummy.pdf')` and it printed the document.

[2019-11-23 07:50] artiebits commented on #67
Hi @xl736592857, I've just published `pdf-to-printer@1.1.1-beta.0` which should fix it. Thanks a lot for reporting the issue!

[2019-11-23 13:21] artiebits commented on #69
not sure if it helps but I found that when I implemented options I made a mistake, I was passing options to `execFile` in the wrong format. I released version `1.1.1-beta.1` with the fix. Unfortunately, I don't have access to a Windows machine anymore. Maybe you can try this version and say if it helps...

Sorry for these issues!

[2019-11-24 06:23] xl736592857 commented on #67
Thank you for your reply. The problem has been solved.

[2019-11-24 06:23] #67 closed

[2019-12-18 16:06] hakverir commented on #69
Hi, I'm trying on windows with version 1.1.1 and it doesn't work with both '-print-settings "2x"' and '-print-settings "fit"'. I've tried with SumatraPDF.exe v3.0.0, 3.1 and 3.1.1

[2020-01-16 21:31] lkfischer opened #96 "Uncaught No such file local"
Hello everyone, I have a problem where the pdf file is not found even though the path is correct.

Follows code below.

`const options = {
		    	  printer: "ELGIN-I9"
		    	};

		    	printer
		    	  .print("req.pdf", options)
		    	  .then(console.log)
		    	  .catch(console.error);`

I am sorry for my english.

[2020-01-17 18:35] artiebits commented on #96
Hi Lukas, is it possible to share your project with me so I can take a look? I am pretty sure the path to PDF is wrong because [I use fs.existsSync](https://github.com/artiebits/pdf-to-printer/blob/master/src/unix/print.js#L9) from [Node.js](https://nodejs.org/api/fs.html#fs_fs_existssync_path) to check the path.

[2020-01-17 18:58] lkfischer commented on #96
I would love to pass, but unfortunately I can't because I have a confidentiality agreement. Is there any other way you can help me, because the file is in the right place even if I walk this way through a link, it can find it.

[2020-01-18 08:03] artiebits commented on #96
btw, we have a few examples in the [examples](https://github.com/artiebits/pdf-to-printer/tree/master/examples) folder. did you have a chance to check them out to see how it works there?

[2020-01-18 08:13] artiebits commented on #96
I've created a simple node.js project for you https://github.com/artiebits/pdf-to-printer/pull/97 it works for me on both Mac and Windows.

[2020-01-20 19:12] CMAX-TWOLF opened #98 "Error: Command failed: <path to nodejs application>\node_modules\pdf-to-printer\dist\SumatraPDF.exe -print-to PRINTERNAME -silent filename.pdf"
I have been butting my head against this problem and I can't find the solution. I've uninstalled and reinstalled the package multiple times and it doesn't work, my code looks like this:

const options = {
        printer: localPrinter // local printer provided as a string of the printer name
    }

printer
        .print(customer, options)
        .then(console.log("File printed."))
        .catch

[2020-01-21 09:17] artiebits commented on #96
Hi @lkfischer, did you manage to solve your issue?

[2020-01-21 09:24] artiebits commented on #98
Hi @CMAX-TWOLF I have [this small example ](https://github.com/artiebits/pdf-to-printer/pull/97) which works fine for me on both Mac and Windows. Can you check it please?

[2020-01-21 18:55] lkfischer commented on #96
Good afternoon.

I took your example and applied the path via "path", now it is working correctly.

Thank you.

[2020-01-21 19:00] artiebits commented on #96
good to hear your issue solved!

[2020-01-21 19:00] #96 closed

[2020-01-22 15:16] CMAX-TWOLF commented on #98
Forgive my novice understanding. I'm failing to see how the path to the PDF and printer is selected with the fix. Also, there is a list of printers on the app server to print from, but the PDF must go to a specific printer based on a value received from the app and I'm failing to see how the list selects a printer to print from.

[2020-01-23 22:28] artiebits commented on #98
I am sorry, I don't fully understand your issue. Is it possible to create an example app with the issue?

Are you trying to do something like this?

[code]

[2020-01-25 10:14] lakhvir998 opened #99 "Did not work inelectron production build- also please return exception in promise"

[2020-01-25 13:00] artiebits commented on #99
Could you share your project with me please, so I can have a look?

[2020-01-28 20:51] lakhvir998 commented on #99
Create a electron project with electron-react-boilerplate and make a production build  then test. Or i will share my code

[2020-01-30 09:50] artiebits commented on #98
Hi @CMAX-TWOLF did you manage to solve the issue?

[2020-01-31 09:39] artiebits commented on #99
Please share your project or create an example with the issue.

[2020-02-06 04:56] lakhvir998 commented on #99
https://github.com/lakhvir998/print-app

clone this repo and try following
1. yarn dev - print will  work
2. yarn package - not working

[2020-02-07 19:32] aduccig opened #107 "Error in the docs"
The docs are saying that to fit the print in the page size, you have to do this:
`const options = {
  printer: "Zebra",
  unix: ["-n 2"],
  win32: ['-print-settings "2x"']
};`

But this actually prints the same page two times.

To fit the page the settings should be:
`const options = {
  printer: "Zebra",
  unix: ["-o fit-to-page"],
  win32: ['-print-settings "fit"']
};`

[2020-02-12 05:10] users23 commented on #99
any update @artiebits

[2020-02-12 12:44] artiebits commented on #99
hi @users23 not yet, i am on vacation

[2020-02-12 12:46] artiebits commented on #107
hi @aduccig thank you! do you mind opening a PR with a fix? 😉

[2020-02-12 12:47] #98 closed

[2020-02-12 12:50] users23 commented on #99
its urgent we are using this for live application

[2020-02-12 12:52] FrancescoBorzi commented on #99
@users23 this is an open source project and everyone can contribute to it. If you **urgently** need a feature/bugfix/improvement you can just open a PR and it will be reviewed and merged by the repository maintainer.

[2020-02-12 13:04] users23 commented on #99
i am unable to debug it in production

[2020-02-12 13:05] artiebits commented on #99
Hi @users23, I am not making any money on this open-source library and working on it during my free time. I created this library to solve my task and shared it with others in case they have the same problem. I am sorry it didn't work properly for you, but I am not going to do it ASAP just because it's urgent for you.
Try to disable Asar if it's enabled, maybe it will help.

[2020-02-12 13:33] FrancescoBorzi commented on #99
@users23 just clone this repo locally and run it in development mode, so you can do anything you want

[2020-02-13 17:04] artiebits commented on #107
Solved with #109

[2020-02-13 17:04] #107 closed

[2020-02-18 21:59] ccarnivore opened #110 "gsprint in addition to SumatraPDF"
I'd like to use gsprint as alternative to sumatrapdf.

I think the main reason why you've chosen sumatrapdf is the portable executable.
But in my eyes sumatrapdf is not a good pdf-printing tool.

What do you think when adding an ENV_Parameter to configure pdf-to-printer to use gsprint (installer won't be included) over sumatra?

If its okay for you, I'd start working on this and opening a PR when

[2020-02-21 12:53] #42 closed

[2020-02-23 17:12] #69 closed

[2020-02-25 18:40] artiebits commented on #110
hi @ccarnivore, sorry for the delay in response. I really appreciate your contribution to the project but I don't think this task has the highest priority. I see more ppl struggling with using `pdf-to-printer` in [electron-vue ](https://github.com/artiebits/pdf-to-printer/issues/40) and [electron-react](https://github.com/artiebits/pdf-to-printer/issues/99) apps. So, if you are interested in contr

[2020-03-02 01:22] jaykch commented on #99
Disabling asar doesnt solve it, the above guy seems to be quite rude, enjoy your holidays man.
Looking forward to the solution, for now I am just loading the pdf as html and printing it

[2020-03-02 07:54] dsoftware763 commented on #99
can you show me how you are doing this

[2020-03-02 21:38] jaykch commented on #99
in your

In your package.json file under build object add "asar": false
It should give you a warning when building if you are using electron-react-boilerplate

[2020-03-04 14:16] steffanschlein opened #119 "Output of getDefaultPrinter contains leading space character"
The output of `getDefaultPrinter` on Unix Systems contains a leading space character because of an off-by-one error in [the parsing code](https://github.com/artiebits/pdf-to-printer/blob/master/src/unix/printers.js#L16). The output on Windows is correct.

[2020-03-04 14:23] artiebits commented on #119
Thank you Steffan.

[2020-03-04 14:24] steffanschlein commented on #119
You are welcome.

[2020-03-05 13:07] #119 closed

[2020-03-06 15:28] wartab opened #123 "Breaking change in non major version increase: list is not a function"
**Describe the bug**
Version 1.4.0 introduced a breaking change of renaming a public API method list to getPrinters.

Minor version jumps should not introduce breaking changes. Please revert this release and bump the major version to 2.0.0.

[2020-03-06 15:30] artiebits commented on #123
Hi Vincent, thank you for your feedback 👍

[2020-03-06 15:35] wartab commented on #123
I corrected it in the OP, but the breaking change was introduced in 1.4, not 1.3.

[2020-03-12 15:54] travis5491811 opened #124 "Print specific pages results in Bad page-ranges values 0-0"
**Describe the bug**
Using example from issue https://github.com/artiebits/pdf-to-printer/issues/71, I'm not able to get this module to print a specific number of pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Print multipage document using default printer and for options pass {unix: ['-P "1,3"']}
2. See error, and it prints all pages.

`Command failed: lp Labels-1584027849474.pdf -P

[2020-03-12 16:31] travis5491811 commented on #124
Should `unix: ['-P "1,3"'],` be `unix: ['-P 1,3'],`?

[2020-03-12 17:09] #124 closed

[2020-03-23 17:34] santoshprakash opened #127 "Angular 6 - ERROR in ./node_modules/pdf-to-printer/dist/bundle.js"
ERROR in ./node_modules/pdf-to-printer/dist/bundle.js
Module not found: Error: Can't resolve 'child_process' in 'D:\MyWorkPlace\set-fusion\social-document-service\frontend\node_modules\pdf-to-printer\dist'
ERROR in ./node_modules/pdf-to-printer/dist/bundle.js

My code  -
import ptp from "pdf-to-printer";

ptp
  .print("assets/file.pdf")
  .then(console.log)
  .catch(console.error);

  }

[2020-03-25 13:35] #110 closed

[2020-03-25 13:42] artiebits commented on #127
Hi @santoshprakash. Thanks for reporting your issue. Can I take a look at your app plz? I have a feeling you using "pdf-to-printer" in a browser application.

[2020-03-26 06:05] santoshprakash commented on #127
yes In using "pdf-to-printer": "^1.4.0",
is this valid or I have to use something else, plz help

[2020-03-26 06:08] artiebits commented on #127
this package is for node.js applications, you have to find another solution

[2020-03-26 06:09] artiebits commented on #127
this package is for node.js applications. unfortunately, you need to find another solution. i am closing this issue because it' not actual anymore.

[2020-03-26 08:18] #127 closed

[2020-03-26 08:18] #123 closed

[2020-03-27 08:39] wartab commented on #123
I assume closing this without any reaction means that you don't care?

[2020-04-09 06:40] wartab commented on #123
Taking that as a yes. Successfully migrated away from this library.

[2020-04-22 19:01] #40 closed

[2020-04-23 01:39] zhanghong0603 opened #137 "win32 settings didn't work"
**Describe the bug**
I want to pop up the Print dialog , thie options are defined as follows, but it It didn't work.
let options = {
      'win32': ['-print-dialog', '-print-settings "2x"']
    }
    ptp.print(filePath, options).then((res) => {
      console.log('print res:', res)
    }).catch((err) => {
      console.error('print err:', err)
    });

**To Reproduce**
Steps to reproduce the behavi

[2020-04-24 09:03] fxh615 opened #138 "label printer haven defult border"
label printer haven defult border and common printer havent

[2020-04-24 09:04] fxh615 commented on #137
have you got the solutions ?

[2020-04-24 09:18] zhanghong0603 commented on #137
not yet,do you have a solution?

[2020-04-24 09:19] zhanghong0603 commented on #137
not yet, do you have a solution ?

[2020-04-28 10:42] screwdycrow opened #139 "Print process fails when a printer name is given ."
**Describe the bug**
When I am trying to print to a any specific printer name (using the -print-to arguement), that exist and is installed in my system, the childprocess fials. However using the exact same command that was generated, directly through cmd, it works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. add a specific printer name to the printer options
2. try to print a

[2020-05-01 12:18] artiebits commented on #139
hi Dimitris, I will investigate your issue this weekend. Sorry about that!

[2020-05-01 12:23] artiebits commented on #138
Hi! Thanx for reporting the issue. That's interesting because some time ago I tested this utility a lot on a label printer and didn't see any borders. Unfortunately, I have a label printer in the office only and it's closed because of covid-19.

[2020-05-02 00:38] jaykch commented on #99
Well no one has any solution and there is no error returned for why it is not working.

[2020-05-27 08:35] peter-ay opened #148 "illegible characters show when printer named in other than the English character"
printer's name are not displayed properly ,cause the print functional run to fail.

[2020-05-27 09:42] artiebits commented on #148
Hi @peter-ay, which version of pdf-to-printer do you use? What is your OS? Could you provide me steps to reproduce the issue please?

[2020-05-28 01:28] peter-ay commented on #148
Hi @artiebits  the version is : "pdf-to-printer": "^1.4.0" ,OS : Win7 64-bit ,
In my case, I use "getPrinters()" function to get my computer's printers list, as long as the printers named  by other that English character, will causes not only display wrong but "print()" function run to fail
Here is my screenshot for you reference, However ,all works well as long as you renamed them only  contain E

[2020-06-29 13:17] lordkerwin opened #161 "Setting Copies in the Win32 Options Array is ignored."
So, i set the options for win32 to 3 copies, as thats what i need.

[code]
And then i do the print...
[code]

But i still only ever get 1 copy sent to my printer.. Am i doing something wrong?

[2020-06-30 16:26] #137 closed

[2020-07-08 02:27] #139 closed

[2020-07-08 02:27] #138 closed

[2020-07-11 23:56] jaykch commented on #99
Any updates on this?

[2020-07-12 20:22] artiebits commented on #161
Hi Sean. Sorry for the delay in response. The way you pass options looks correct to me. It makes me think it might be a problem of SumatraPDF v3.0.0 that we use to print PDF in Windows. I see they release v3.2 recently, so we can update the version. Let me know if you are interested in opening open a PR.

[2020-07-20 22:20] brunogoossens opened #174 "Return job ID when using on windows"
At the moment when using this module on mac, the job ID is returned together with the printer name. When using this on windows, nothing is returned. Is there a way to make this possible so we can monitor the print job?

[2020-07-25 09:50] artiebits commented on #161
Hi Sean, I've published a beta version `pdf-to-printer@1.4.2-beta.0` where I updated SumatraPDF to version 3.2. But I don't have a windows machine anymore, could you help me to test it, please?

[2020-07-25 10:11] artiebits commented on #174
Hi Bruno, I am sorry but I don't have a Windows machine at the moment, so I can't test it. In pdf-to-printer I use SumatraPDF to print documents on Windows. I would suggest you to take a look at [docs](https://www.sumatrapdfreader.org/free-pdf-reader.html), maybe there are some arguments you can pass to SumatraPDF to return job ID.
If it's possible then we can find a solution for pdf-to-printer.

[2020-07-25 11:24] aashutoshrathi commented on #161
@artiebits The normal single page thing was working till `1.4.1`.
I switched to `pdf-to-printer@1.4.2-beta.0` for testing and facing this.
![image](https://user-images.githubusercontent.com/21199234/88455959-7a921900-ce97-11ea-9101-719b64f573e9.png)

[2020-07-28 20:13] brunogoossens commented on #174
I don't see any option to return the job ID from SumatraPDF.
My solution at the moment is asking the printer for his job list and search for new jobs in this list.

[2020-07-28 20:14] #174 closed

[2020-08-03 04:37] #148 closed

[2020-08-03 08:50] artiebits commented on #161
@aashutoshrathi i will take a look again, thank you for testing it 👍

[2020-08-19 11:24] MilburnGomes opened #185 "TypeError: printer.list is not a function in version 1.4.1"
I tried to recreate your express-server example. But when I installed pdf-to-printer, it installed to the latest version. On hitting http://localhost:8080/list, I get the below error:
TypeError: printer.list is not a function
    at list (C:\Users\DELL\Desktop\print-app-node\src\list.js:13:6)
    at Layer.handle [as handle_request] (C:\Users\DELL\Desktop\print-app-node\node_modules\express\lib\rou

[2020-08-19 11:50] artiebits commented on #185
Hi @MilburnGomes, thanks for letting me know about the issue. `.list()` was renamed to `.getPrinters()` but I forgot to update examples. So, if you are using 1.4.1, try `getPrinters()`.
If you are interested in contributing - feel free to open a PR with updating examples, I would appreciate it.
Let me know If it helps you!

[2020-08-19 12:10] MilburnGomes commented on #185
Thanks a lot for your prompt reply and support! I've made the change it works great!

[2020-08-19 12:10] #185 closed

[2020-09-10 15:07] matyx opened #189 "Type definitions for typescript"
**Is your feature request related to a problem? Please describe.**
I cant use this library in TS, because there are missing type definitions (TS wont compile).

**Describe the solution you'd like**
Include types in github repo (I can send PR).

**Describe alternatives you've considered**

**Additional context**

[2020-09-10 19:18] artiebits commented on #189
hi @matyx,
Indeed, would be nice to have type definitions for TS. And I am happy to hear you can send a PR. 👍

[2020-09-23 09:31] #189 closed

[2020-10-08 11:09] conorholgate opened #192 "Integrate with Vuejs using vue-cli-plugin-electron-builder"
When using this plug in on a normal electron app, it works as intended.

When spinning up a vuejs app, along with the electron builder. I install pdf-to-printer plug in I get the below error

bundle.js?50d2:1 Uncaught Error: Platform not supported
    at eval (bundle.js?50d2:1)
    at Object.eval (bundle.js?50d2:1)
    at r (bundle.js?50d2:1)
    at eval (bundle.js?50d2:1)
    at eval (bundle.js?5

[2020-10-08 12:32] #192 closed

[2020-10-16 09:05] ckrgithub opened #194 "win10 electron print failure"
Error: spawn cmd.exe ENOENT
   at Process.ChildProcess._handle.onexit (internal/child_process.js:264)
    at onErrorNT (internal/child_process.js:456)
    at processTicksAndRejections (internal/process/task_queues.js:80)

[2020-10-16 09:24] artiebits commented on #161
hi guys. sorry for the delay but I have published `pdf-to-printer@1.5.1-beta.0` with these changes https://github.com/artiebits/pdf-to-printer/pull/193. hope it works and solves the issue

[2020-10-16 09:37] ckrgithub commented on #194
use your github demo no problem,but not mine .
my demo: npm install --save pdf-to-printer.
I donot know why

[2020-10-16 09:49] conorholgate commented on #194
I am getting a similar issue. i am using Vue js with a electron builder.

Imported ptp in the background.js:
"const ptp = require("pdf-to-printer")"

Created a function:
ptp.print("SamplePass.pdf").catch(error => {
    console.log(error);
  })

this pdf is in the root of the program (also tried with the pdf in the C drive, same error)

If i use electron on its own. it works fine.

Error: spawn C:\

[2020-10-16 13:39] ckrgithub commented on #194
![image](https://user-images.githubusercontent.com/18225851/96265296-d6cc8b00-0ff7-11eb-8c8a-00123ccace90.png)

This problem may be caused by this reason：
my demo file is relative path, yours is absolute path

[2020-10-16 15:47] artiebits commented on #194
hi @ckrgithub thank you for investigating the issue.
seems to me we need to fix this line https://github.com/artiebits/pdf-to-printer/blob/master/src/win32/print.js#L13. but, unfortunately, I don't have any experience with electron. could you help me with this issue?

[2020-10-17 09:05] artiebits commented on #161
@aashutoshrathi I have tried `1.4.2-beta.0` and there is, indeed, the error. Then I've tried `1.5.1-beta.0` and it didn't throw any error but I am not 100% sure it prints a PDF because I don't have a printer anymore. Could you test it for me, please? I would appreciate it very much.

[2020-10-17 10:49] aashutoshrathi commented on #161
Yeah, will check this one.
cc: @mohitkyadav Take a look with our app if you find time

[2020-10-18 02:58] ckrgithub commented on #194
@artiebits @conorholgate  In webpack.config.js add this code and it works
`
node: {
    __dirname: true
  }
`

[2020-10-18 07:40] ckrgithub commented on #194
There are no problems in development, not in production.
**Error: spawn node_modules\pdf-to-printer\dist\SumatraPDF.exe ENOENT**

[2020-10-19 10:09] conorholgate commented on #194
I managed to get this working in development mode by adding the Sumatra.exe into the dist_electron folder. However, when building the electron app, it fails to load.

I am assuming, it is not bundling the exe into the build, thus not loading.

[2020-10-23 11:20] artiebits commented on #161
hi guys, did you have a chance to test if the fix works?

[2020-10-25 10:21] aashutoshrathi commented on #161
@artiebits I just checked, it works for n copies now.

[2020-10-25 10:30] artiebits commented on #161
oh, glad to hear it. thanks a lot for helping me with this issue! I will publish a new version with this fix shortly

[2020-10-25 10:50] artiebits commented on #161
I have released version `1.5.1` with the fix, assume this issue can be closed. thanks everyone!

[2020-10-26 02:42] ckrgithub opened #209 "issue with encoding"
execFile() can add options, as { encoding : 'binary'}

[2020-10-26 15:43] #161 closed

[2020-10-30 16:14] geods3 opened #210 "get printer options"
is it posible to get printer options such as trays etc

[2020-11-04 20:42] RyderLogisticApp opened #211 "Print to User/Client default printer"
This will print on what ever printer on the server list. Is it possible to get the default printer of the user/client instead?

[2020-11-05 07:34] artiebits commented on #211
it's not possible with this tool

[2020-11-05 07:34] #211 closed

[2020-11-05 16:46] MrDev2020 opened #212 "Can you add to print on users machine(client accessing the web app) default printer? not the server?"
Can you add to print on users machine(client accessing the web app) default printer? not the server?

[2020-11-06 02:23] ckrgithub opened #213 "can support for Papaer Size Settings"
![image](https://user-images.githubusercontent.com/18225851/98318620-f6b10680-2019-11eb-86c4-2114b7927cde.png)

[2020-11-06 02:27] #213 closed

[2020-11-06 07:15] ckrgithub opened #214 "-print-settings "paper=statement" not work"
not consistent with Chrome
![image](https://user-images.githubusercontent.com/18225851/98336480-fd537400-2041-11eb-9412-fc52d88a24fa.png)

![image](https://user-images.githubusercontent.com/18225851/98336956-cf226400-2042-11eb-8f09-9c0619c8de71.png)

[2020-11-06 08:36] artiebits commented on #214
did you try to use this setting with SumatraPDF v3.2? does it work?

[2020-11-06 08:42] artiebits commented on #212
This is the Node.js tool, it won't work in a browser.
Anyway, you can't do manipulations on user's machine from a browser.

[2020-11-06 08:42] #212 closed

[2020-11-06 09:16] ckrgithub commented on #214
@artiebits I just tried it. None of it worked

[2020-11-06 10:18] ckrgithub commented on #55
@Boy-W do you have a solution

[2020-11-08 09:47] artiebits commented on #214
then I have a feeling it is the problem of SumatraPDF v3.2

[2020-11-11 12:36] #214 closed

[2020-11-20 16:37] indalaterre opened #215 "Can't include pdf-to-printer library when executing electron after packaging with electron-packager"
Hello, seems that after the build with electron-packager, the app can't find the module of pdf-to-printer.
Attached there is a screenshot of the error

![image](https://user-images.githubusercontent.com/20315786/99825276-1df9ee80-2b57-11eb-9e4c-85c1bacdae4a.png)

[2020-12-02 09:08] artiebits commented on #215
hi @indalaterre. sorry for the late response. what version of pdf-to-printer do you use?

[2020-12-10 14:07] thetractor commented on #192
@conorholgate how did you fix this issue?

[2020-12-10 14:19] conorholgate commented on #192
I THINK it ended up being how i imported the plugin into my project

This is how i imported it into my background.js >> const ptp = require("pdf-to-printer").

I also created a vue.config.js file in the root of the project, which included the below:

module.exports = {
    configureWebpack: {
        devtool: 'source-map'
    },
    pluginOptions: {
      electronBuilder: {
        nodeIntegration

[2020-12-10 14:48] thetractor commented on #192
Thanx @conorholgate this seems to fix the error above but now I get a `No such file` error from the click event of my button

[code]
![image](https://user-images.githubusercontent.com/22886611/101787196-1ba80600-3aff-11eb-8c95-62c819d5bafa.png)

[2020-12-10 15:11] conorholgate commented on #192
Try putting the pdf in the Public folder. Does this print?

I found that this worked fine in development mode. As soon as I built the .exe, I had the same issue of "No such file"

I think electron bundles the public and asset folders up so there aren't accessible(please don't quote me on this, i haven't used electron that many times). Below is how i managed to get it working.

I chose to save the

[2020-12-19 03:55] nurul-islam01 opened #218 "It's print both side of page, but i need single side of page."
How can i set single side print of a page? i change my printer driver setting that's ok one side print. but pdf-to-printer have no setting single side or double side print.
Please help me.

[2020-12-22 18:17] ferretwithaberet opened #220 "Add human readable name to the list returned by getPrinters"
**Is your feature request related to a problem? Please describe.**
We only have the printer code name, with `_`, which is not nice for displaying.

**Describe the solution you'd like**
Electron's `getPrinters` returns a list of objects representing printers which got properties for `name`(device code) and a `displayName` which contains the human readable name of the printer without `_`.

**Describ

[2020-12-23 09:11] artiebits commented on #220
Hi @ferretwithaberet. Thanks for reporting the issue, I will take a look.

[2020-12-23 09:22] artiebits commented on #218
hi @nurul-islam01,

did you try

[2020-12-23 09:27] artiebits commented on #218
hi @nurul-islam01,

did you try something like this?

[code]

We use SumatraPDF to print documents on Windows, so you can take a look at [this page](https://www.sumatrapdfreader.org/docs/Command-line-arguments.html) for all available options

[2020-12-24 11:53] #215 closed

[2020-12-26 06:53] #194 closed

[2020-12-28 11:22] artiebits commented on #218
@nurul-islam01 did you have a chance to check if it helps?

[2020-12-28 11:53] #218 closed

[2020-12-29 05:46] nurul-islam01 commented on #218
Error: Command failed: C:\inetpub\wwwroot\printer.backend\node_modules\pdf-to-printer\dist\SumatraPDF.exe -print-to-default -view "single page" -silent F:/PrinterServer/webPrintingQueue/1011219001_Nurul_Islam.pdf

    at ChildProcess.exithandler (node:child_process:309:12)
    at ChildProcess.emit (node:events:329:20)
    at maybeClose (node:internal/child_process:1055:16)
    at Process.ChildProc

[2021-01-01 20:04] #209 closed

[2021-01-04 15:01] davidsyoung opened #222 "Printer name with space in it errors"
**Describe the bug**
On windows platform, when there is a printer with a space in it's name, and you pass a printer, the command fails to run as it's not escaped with quotes.

**To Reproduce**
Steps to reproduce the behavior:
1. Rename printer with a space in it
2. Pass that printer name as returned by getPrinters()
3. Command that is produced doesn't run as there's a space.

**Expected behavior**

[2021-01-10 03:47] #210 closed

[2021-01-11 15:57] zizzi-dev opened #223 "SLOW printing time 3-4 minutes"
On Windows Server 2016 i'm using this module and i saw on node_modules SumatraPDF.exe is used versione 3.0.0 i had slow performances printing PDF. I updated the sumatraPDF.exe file to versione 3.1.2 inside node modules and solved the issue!
Hope you can update the sumatraPDF.exe file inside your dependencies !

Cheers !

[2021-01-14 11:05] deadline1997 opened #224 "Cannot be called after wrapping with electron"
Sorry, I don't know English very well, so I am Posting the code snippet

`
   SumatraPDF.exe ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:267:19)
    at onErrorNT (internal/child_process.js:469:16)
    at processTicksAndRejections (internal/process/task_queues.js:84:21)
`

Then I changed the path code on the 'electron-util.js'
`
export const fixPathForAsarUnpack = (

[2021-01-15 08:00] artiebits commented on #223
Hi @zizzi-dev,

Thanks for reporting the issue, I appreciate it!

I am pretty sure that SumatraPDF was updated to version 3.2 https://github.com/artiebits/pdf-to-printer/releases/tag/v1.5.1. What version of pdf-to-printer do you use?

[2021-01-20 05:32] LFdeWeb commented on #224
问题解决了吗  我也遇到点问题  打印的位置不是从顶部开始的。

[2021-01-23 12:51] #99 closed

[2021-01-25 09:40] deadline1997 commented on #224
我的已经解决了, 打印位置这个我没有遇到

[2021-01-26 08:08] Brunni opened #225 "License question"
Hi,
this project is licensed under MIT, but SumatraPDF executable is part of the repository with is GPLv3 as far as I can see.
How is this working out?

What do I need to do, when I want to use this package in a commercial electron shell application?

Best
Michael

[2021-01-27 09:41] #223 closed

[2021-01-27 09:43] artiebits commented on #225
Hi Michael! It's a good question. But it's better to ask SumatraPDF team how you can use it.
I would appreciate it if you share with me their answer.

[2021-02-02 07:48] cuihan-coder opened #227 "Print Color Settings?"
**Could you please tell me how to set the printing color, color, black and white?**
There is a need to set the printing color of the printer, but see the UNIX system, print command parameters, do not find the option to set the color. Please tell me how to set it.

[2021-02-09 16:34] mcdado commented on #218
I think you need this option:

[code]

[2021-02-10 09:54] artiebits commented on #220
Hi @ferretwithaberet. Sorry it took so long but I don't have a printer at home. And since I am still working remotely I can't investigate this issue.

[2021-02-10 09:56] ferretwithaberet commented on #220
If you have a linux machine, there existins `cups-pdf` which simulates a printer which saves the printed documents as pdf files. You do not have to be sorry thought, take your time.

[2021-02-12 09:44] artiebits commented on #222
Hi @davidsyoung, I have published `pdf-to-printer@1.7.0` with a fix from @mcdado which should solve your issue. Could you check if it helps, please?

[2021-02-17 08:35] #222 closed

[2021-02-25 19:14] denyncrawford opened #230 "Print cut into stripes"
**Describe the bug**
The printe comes out cut into stripes, I don't know if it's a problem with my pdf or if I'm doing something wrong.

**To Reproduce**
Steps to reproduce the behavior:

1. Print a PDF like in the documentation example.

**Expected behavior**
Print a nice document.

**Screenshots**

This is how it prints the document:

![image](https://user-images.githubusercontent.com/28849055/1

[2021-02-26 10:51] denyncrawford commented on #230
I have been investigating a little and it seems that it is a problem that sumatra has from 3.1 and it happens in several models of printers, apparently if you downgrade to 3.0 it works.

[2021-02-26 11:03] denyncrawford commented on #230
I downgraded the binary to 3.0 and now it works, but I don't know how it affects pdf-to-printer. I also need to install my application on multiple machines and I shouldn't have to do this manually, maybe with gulp ... but could you include a method to choose the version of sumatra?

[2021-02-28 08:35] artiebits commented on #230
Hi Miguel, thank you for opening the issue and investigating it. I don't think it's a good idea to store both SumatraPDF version 3.0 and 3.2 because it will make the npm package size bigger. But I've published a version `pdf-to-printer@1.6.0-sumatra-pdf-v3.0` with Sumatra PDF v3.0. Let me know if it solves your issue

[2021-02-28 15:54] denyncrawford commented on #230
Thanks a lot, I'll be testing it later, but anyway, in terms of module size , wouldn't it be more efficient to fetch and unzip sumatra in the build? I mean right after installation.

[2021-03-08 09:49] #230 closed

[2021-03-08 09:50] #225 closed

[2021-03-22 17:35] tenzint opened #233 "Printing cut-off pages ('fit-to-page' print setting not working - using default Windows 10 print settings)"
**Describe the bug**
Unable to format the print. The print does not have "fit-to-page" settings. It has the Windows 10 default print settings that cuts off part of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `pdf-to-printer`, write the script written in the documentation:
[code]
2. Run the script

**Expected behavior**
You want to print the PDF file with print-settings

[2021-03-22 17:36] tenzint commented on #233
I am currently changing the actual printer's default print settings to make it fit to page.

[2021-04-03 05:55] mitulsrv opened #237 "My printer does not have toner, so printing status is not returning here."
**Describe the bug**
The problem is when i send print command to printer, the printer does not have enough page or toner to print then any error or printer status is not returning here.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Send printer command with using pdf-to-printer package in electron.'
2. Printer does not have enough page or toner to print.
3. Showing empty status in t

[2021-04-03 17:59] tushar0911 commented on #224
Hi
I am also having same error could you post the complete solution to it.

[2021-04-06 02:06] sujiewen opened #238 "getPrinters data is error"
macOS 10.15.7, vue 2.6, electron

  printer
    .getPrinters()
    .then(res => {
      console.log('getPrinters=' + JSON.stringify(res))
    })
    .catch(err => {
      console.log(err)
    })

getPrinters=["Brother_MFC_7880DN正在接受请求，时间始于Fri","Brother_MFC_7880DN___Fax正在接受请求，时间始于Fri"]

Print the list correctly:
["Brother_MFC_7880DN","Brother_MFC_7880DN___Fax"]

[2021-04-06 02:07] #238 closed

[2021-04-06 02:07] sujiewen opened #239 "mac getPrinters data is error?"
macOS 10.15.7, vue 2.6, electron

printer
.getPrinters()
.then(res => {
console.log('getPrinters=' + JSON.stringify(res))
})
.catch(err => {
console.log(err)
})

getPrinters=["Brother_MFC_7880DN正在接受请求，时间始于Fri","Brother_MFC_7880DN___Fax正在接受请求，时间始于Fri"]

Print the list correctly:
["Brother_MFC_7880DN","Brother_MFC_7880DN___Fax"]

[2021-04-07 08:20] sujiewen commented on #239
Mac not support?

[2021-04-08 06:17] sujiewen commented on #239
const getPrinters = () => {
  const parseResult = (output) => {
    return output
        .trim()
        .split("\n")
        .map((e) => e.indexOf(" ") > 0 ? e.substr(0, e.indexOf(" ")) : e)
  };
  return execAsync("lpstat", ["-a"], parseResult);
};

const print = (pdf, options = {}) => {
  if (!pdf) throw "No PDF specified";
  if (typeof pdf !== "string") throw "Invalid PDF name";
  if (!fs.exi

[2021-04-08 06:17] #239 closed

[2021-04-10 00:24] babyradJiri commented on #40
Could you please show your fix? I can't get it to work

[2021-04-12 03:13] dtboy1995 opened #240 "Printer's name charset error"
**Code**
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/19227547/114335675-d57fb380-9b7f-11eb-94b4-ff367cb85cbd.png)

**Desktop (please complete the following information):**
 - OS: [Windows10]
 - Nodejs
 - Version 12

[2021-04-15 14:46] ferretwithaberet commented on #220
Fixed by #235, #242 and #243.

[2021-04-15 17:53] ferretwithaberet commented on #240
Can you open a command prompt and provide the output of `wmic printer get default,deviceid,name`?

[2021-04-15 17:57] ferretwithaberet commented on #233
The package ships with a  `SumatraPDF` executable. This might be an issue with `SumatraPDF`, needs more investigation.

[2021-04-15 18:03] ferretwithaberet commented on #227
Have a look at [this](https://bbs.archlinux.org/viewtopic.php?id=121767).

[2021-04-19 10:53] ferretwithaberet commented on #220
Closing since issue was fixed, now it only needs to be released with the next version of the package.

[2021-04-19 10:53] #220 closed

[2021-04-21 06:51] artiebits commented on #220
i have published version 2.0.0 with your fixes. thank you for the contribution!

[2021-04-22 03:31] dtboy1995 commented on #240
Sorry to reply so late

![image](https://user-images.githubusercontent.com/19227547/115651675-38323580-a35e-11eb-838d-dfa9c5ed7264.png)

[2021-04-22 10:28] ferretwithaberet commented on #240
It would be great if you could copy that output and paste it here, so I can test with your exact printer names.

[2021-04-22 10:30] dtboy1995 commented on #240
[code]

thanks

[2021-04-22 10:38] ferretwithaberet commented on #237
I was looking into how to make the `Promise` returned by `ptp.print()` to resolve only after the whole printing process finishes but it seems that `pdf-to-printer` only queues printing jobs(at least on linux through `lp`). I am still searching for a way to make it work, when I find out how(if I will) this issue will probably be fixed too.

[2021-04-22 10:43] ferretwithaberet commented on #240
It seems to work on linux(had to add the `_` to the device id because you cannot have spaces in the device id on Linux) I tried node versions 15, 14, 12 and it worked on all of them. I will test it on windows soon too.

![image](https://user-images.githubusercontent.com/46427158/115701385-67ea3900-a370-11eb-95ad-83ced8d4d29b.png)

[2021-04-22 10:47] dtboy1995 commented on #240
Windows cmd / powershell default charset not uft-8

[2021-04-22 12:01] ferretwithaberet opened #246 "wmic is deprecated, use PowerShell cmdlets instead"
**Is your feature request related to a problem? Please describe.**
`wmic` is deprecated.

**Describe the solution you'd like**
Package should use PowerShell cmdlets to get printers on Windows instead of `wmic`.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2021-04-22 12:03] ferretwithaberet commented on #240
Yeah, I documented myself a bit, seems like we will need to use `chcp` somehow to change the charset to UTF-8 before we parse it.

[2021-04-25 21:54] tenzint commented on #233
Thank you for clarifying. So SumatraPDF is not working for me then.

[2021-04-28 02:37] dtboy1995 commented on #240
maybe use [iconv-lite](https://www.npmjs.com/package/iconv-lite)..

[2021-05-03 05:48] ercint opened #247 "Providing PDF buffer rather than file name"
First of all thanks for pdf-to-printer.

We would like to provide pdf buffer to your print constructor. Now it is not available, are you planning to implement this feature?

Regards

[2021-05-05 16:18] artiebits commented on #247
hi @ercint, i didn't plan to implement it but you are more than welcome to contribute to this project. I would appreciate it!

[2021-05-16 15:52] m4heshd commented on #247
This is a vital feature that would make this module unavoidable since more than 80% of the time, developers are dealing with in-memory data rather than files. People hardly like to incorporate filesystem transactions unless there's a critical requirement. I wish I had the time right now to integrate this feature.

[2021-05-18 07:49] panda6412 opened #250 "Print pdf to label printer, the printing result is vague"
### Print pdf file to label printer (TSC TE210), the printing result is vague.

## [We already try]
* We print file through adobe PDF rather using library, it seems like normal.
But I could not found  any of printing options to solve the problem.

* We also adjust print setting on label printer (TSC TE210), sadly it didn't work

The printing result attach below
![image](https://user-images.githubu

[2021-05-19 15:29] gallyamow opened #251 "Ability to get event when printing is done"
Hi.

I need to know is my print job finished or not.
My solution is using `lpstat`  for monitoring the printing queue and emit an event when the job disappeared or failed
Is it implemented yet?
Thank you

[2021-05-19 19:01] ferretwithaberet commented on #251
I thought about this too, it is not that easy because using `lpstat` to monitor the printing queue would mean to execute it every `x` time to check if something about the job changed which in my opinion is not a great implementation. I am looking for a way to wait for the printing job to finish but I did not find one yet.

[2021-05-19 19:05] ferretwithaberet commented on #247
Even if the package will provide this, under the hood it will still create a temporary file. Also, I am not sure if we can implement this yet because there is no way to know when the printing job finished and I do not think we can remove that temporary file before the printing job ends.

[2021-05-19 23:52] eriskhan opened #252 "PTP incorrectly working with PM2"
**Describe the bug**
PTP works incorrectly with PM2. Not really that of a problem with PTP, but it'd be great if you could dive in and check what's wrong.

All in all: if we start a script containing
[code]
with, say, `node index.js`, everything works flawlessly. However, with PM2 PTP doesn't set printing tasks and doesn't throw any errors.
**To Reproduce**
Steps to reproduce the behavior:
1. Clon

[2021-05-20 07:23] gallyamow commented on #251
Thank you for your response.

[2021-05-20 08:57] gallyamow commented on #251
ok

[2021-05-20 14:02] sebastianjung commented on #252
Actually i'm facing a similar problem.

running my script with pm2 start index.js leaves out all the network printers when using `getPrinters()`.

When using `node index.js` i get all network printers with the same method (getPrinters())

[2021-05-20 15:14] artiebits commented on #252
thank you for reporting the issue guys, I will investigate it 👍🏻

[2021-05-20 19:15] ferretwithaberet commented on #252
[This](https://stackoverflow.com/questions/50543004/pm2-app-gets-permission-denied-when-printing) might be related.

[2021-05-20 19:21] eriskhan commented on #252
Also important to notice: I’ve tried running pm2 as an administrator and as a user. Nothing worked for me

[2021-05-23 01:36] darinw opened #257 "Http pdfs"
This package is everything i have been looking for! The only problem is i am trying to print a PDF that i download from our server. The exact URL i am running attempting is https://tournamentdepot.com/servlet/PdfServlet?id=Tournament0000000266&multiGames=Bracket0000002223-Game0000035352

I am not very familiar with electron so my first thoughts are that i would need download my pdf and store it in

[2021-05-23 14:33] artiebits commented on #257
Hi @darinw, thanks for your sharing your idea with me.

I would like to keep pdf-to-printer as small as possible and stick to it's main purpose - printing PDF files from Node application, because maintaining this package and giving support to developers/companies that use it already takes some of my free time.
Functionality to download and remove files can be easily implemented by yourself. You ca

[2021-05-23 14:40] darinw commented on #257
Awesome thank you for the example! Again, love the project, keep it up!

[2021-05-23 14:41] #257 closed

[2021-05-31 08:05] gaolingxiao commented on #240
Same problem here.

[2021-06-01 09:02] #251 closed

[2021-06-13 23:35] mpritchin opened #262 "Error during using observe function: /bin/sh: 1: lpq: not found"
**Describe the bug**
Error during using observe function: /bin/sh: 1: lpq: not found

**To Reproduce**
Steps to reproduce the behavior:
```await ptp.observe(jobId)```

**Expected behavior**
Without error

**Desktop (please complete the following information):**
 - OS: unix

**Additional context**
Maybe better try to use `lpstat -W not-completed`?

[2021-06-16 21:46] #224 closed

[2021-06-20 20:39] PatricioNG opened #264 "Print multiple files at once in one print job"
**Is your feature request related to a problem? Please describe.**
This may exist already, but is there a way to specify an array of file names or a comma separated list of file names to be sent together in one print job? Sending a file one by one causes stress on the printer from starting and stopping print jobs.

**Describe the solution you'd like**
Something like
[code]

**Describe alternatives

[2021-06-21 11:08] joshycube opened #265 "Considering either a beta or a minor release"
Few PR's have been merged recently. Although it is possible to use a Github link to a certain branch in the package.json it would be great to use the main packag with a new version or a beta tag.

[2021-06-21 15:35] artiebits commented on #265
Hi. Sorry I forgot to release a new version with your changes before going on vacation

[2021-06-21 15:38] artiebits commented on #265
And indeed I don’t add new features simply because I developed on this project during my free time but have other interests now. However I try to support every contribution to this project and answer questions

[2021-06-23 13:08] joshycube commented on #265
@artiebits I really appreciate your answer and 100% respect for looking after this library.
I am happy to help and raise some PRs - I do have some other bugs which I might be able PR in.

[2021-06-26 01:08] #227 closed

[2021-06-26 12:14] artiebits commented on #265
It would be awesome. Thanks in advance!

[2021-07-01 03:09] #237 closed

[2021-07-08 01:00] #233 closed

[2021-07-13 14:55] KirstLMCG opened #266 "Silent printing"
Is this possible with this library?

[2021-07-14 10:54] #266 closed

[2021-07-15 14:14] KirstLMCG commented on #264
You can assign the array of files to a variable and call forEach on that array then print each PDF in one print job. Here is an example:
[code]

[2021-07-20 19:44] #265 closed

[2021-07-26 19:37] isakovicq opened #267 "Wrong printing orientation"
Entire process goes fine, but no matter what orientation I provide, content is printed with portrait orientation. Any suggestion on how to fix this?

[2021-07-27 06:46] ferretwithaberet commented on #267
I do not know of any particular part of `pdf-to-printer` which would do this. Can you also provide which platform you are on (Windows/Linux/macOS), the printer model, the literal code you used (If it is possible)? I will not necessarily try to fix this issue, but providing this information will increase the chances of us finding the problem.

[2021-07-27 07:39] isakovicq commented on #267
Sorry for not providing that earlier, platform is Windows 10, I can't specify one printer since it will be for wide use, trying to automate some processes and this will be running on multiple printers. Part of code that is handling printing is here:

This is how print settings look:
-print-settings "landscape, fit, 3x" -print-to "PRT_KIQL1" -exit-on-print

[code]

[2021-07-29 16:19] KirstLMCG opened #268 "When to know each job is currently being printed?"
Hi, not sure if there is a way to know when to find out when each job is currently printing? So I can say something like this?

[code]

[2021-07-30 02:50] #252 closed

[2021-07-30 02:50] #250 closed

[2021-07-30 02:50] #246 closed

[2021-07-30 02:50] #247 closed

[2021-07-30 06:29] ferretwithaberet commented on #268
This will be solved when #261 will be properly implemented. At the moment pdf-to-printer only queues the printing jobs so you have to monitorize them yourself.

[2021-07-31 18:34] ferretwithaberet commented on #246
@artiebits, the stale bot is annoying.

Anyway, I will leave information about what needs to be done to fix this.

We can get the printers' ids and names by running `Get-CimInstance Win32_Printer -Property DeviceID,Name` in Powershell.
We can also get only the default printer by adding `-Filter Default=true`.

So we could use Node's `execFile` to run `Powershell.exe` with the argument `-Command` t

[2021-08-02 12:33] ferretwithaberet commented on #264
This assign a print job for each file. They explicitly said

because

I can see the utility of this and it should not be that hard to implement(at least for linux).

[2021-08-02 12:46] KirstLMCG commented on #264
I have used my approach already that I suggested and it prints all documents in one print job.

[2021-08-06 11:48] KirstLMCG commented on #268
@artiebits I can't find the place where I can see the example to download the PDF, do you know where it is?

[2021-08-06 12:32] artiebits commented on #268
hi @KirstLMCG this package is not responsible for downloading PDF, only printing it. But you can do something like this to download a PDF, print it, and then delete it.

[code]

[2021-08-06 12:38] KirstLMCG commented on #268
oo okay, amazing, thank you :)

[2021-08-21 03:49] #240 closed

[2021-08-27 13:58] xinthose opened #271 "Default printer is getting bogged down"
**Describe the bug**
I print a PDF to the default printer sometimes a lot in a short amount of time (one a minute for 5 minutes for example).  This causes the printer to print all jobs at one time for some reason.  My code could print 40+ PDFs a day (busy plant).

**Expected behavior**
Printer prints the PDF immediately every time I tell it to.

**Desktop (please complete the following information

[2021-09-03 02:24] #262 closed

[2021-09-17 07:33] artiebits opened #274 "Create a separate npm package for Unix-like operating systems"
The API of this package starts getting a little bit messy because more and more Unix only or Windows only features have been added to the project.

For example, We recently added `.observe` and `.cancel` functionality that works on Unix-like systems only. Then we have `sumatraPdfPath` which works on Windows only.

For that reason, I decided to move functionality for Unix-like operating systems to

[2021-09-17 07:50] #274 closed

[2021-09-18 12:46] artiebits opened #275 "Move functionality for Unix-like operating systems to a separate npm package"
The API of this package starts getting a little bit messy because more and more Unix only or Windows only features have been added to the project.

For example, We recently added `.observe` and `.cancel` functionality that works on Unix-like systems only. Then we have `sumatraPdfPath` which works on Windows only.

For that reason, I decided to move functionality for Unix-like operating systems to

[2021-09-23 11:18] isakovicq commented on #267
Fixed it was not related to this library.

[2021-09-23 11:19] isakovicq opened #276 "Paper format/slize in numeric value, is it possible?"
**Is your feature request related to a problem? Please describe.**
Hi, I was wondering is it possible to provide format/slize of the paper in numeric value, like for example I want it to be 55x35mm?

**Describe the solution you'd like**
I would like to provide those numeric values to printer, since it requires that size in order to show label I am printing properly.

[2021-09-24 09:18] #275 closed

[2021-09-24 09:20] artiebits commented on #276
Hi @isakovicq you can find all available options here https://www.sumatrapdfreader.org/docs/Command-line-arguments for Windows, or here https://www.computerhope.com/unix/ulp.htm if you are using pdf-to-printer on Unix-like OS

[2021-09-26 06:40] artiebits commented on #268
I am closing this issue because the requested functionality is implemented  in the latest version of pdf-to-printer. But that works for Unix-like systems only

[2021-09-26 06:40] #268 closed

[2021-09-27 09:22] #267 closed

[2021-10-04 12:58] inspigo-pl commented on #275
Hello, why https://github.com/artiebits/unix-print was deleted?

[2021-10-04 13:40] artiebits commented on #275
hi @inspigo-pl, I created unix-print package but then saw that there are a few packages that do the same, so I made my package private. okay, I made my package public again, in case if people would like to use it. thanks for opening a conversation!

[2021-10-16 09:14] #264 closed

[2021-10-20 09:14] artiebits commented on #276
Hi guys. Supported page sizes are  `A2`, `A3`, `A4`, `A5`, `A6`, `letter`, `legal`, `tabloid`, `statement`, so I am not sure if you can add custom sizes, but check the [SumatraPDF docs](https://www.sumatrapdfreader.org/docs/SumatraPDF-documentation) and please, let me know if it's possible or not. Then I can update the readme

[2021-10-20 12:42] #271 closed

[2021-11-03 10:36] alpfreda opened #287 "Platform not supported error in linux"
**Platform not supported** occurred in **v5.0.0** when running code on linux

![](https://media.discordapp.net/attachments/866214716745842748/905404564470124554/Screen_Shot_2021-11-03_at_1.33.49_PM.png)

But its work perfectly in the **v3.0.0**

big thanks

[2021-11-03 10:40] artiebits commented on #287
Hi @alpfreda, the package no longer supports Linux and other Unix-like operating systems, the functionality moved to a new package https://github.com/artiebits/unix-print.
You can check the release notes https://github.com/artiebits/pdf-to-printer/releases/tag/v4.0.0.
Sorry for the inconvenience!

[2021-11-03 10:49] alpfreda commented on #287
@artiebits Thanks for your reply.
Our customers used the app on both platforms (linux & win)
what are your suggestions?

[2021-11-03 14:34] artiebits commented on #287
i guess something like this

[code]

[2021-11-04 06:42] alpfreda commented on #287
thanks.

[2021-11-04 06:42] #287 closed

[2021-11-04 08:26] hardyscc opened #288 "Add support to print number of copies"
please add support to print number of copies using `-print-settings "3x"`

[2021-11-09 05:57] HabibulHH opened #289 "getPrinters giving Fax as a printing option"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-11-09 10:05] artiebits commented on #289
Hi @HabibulHH I don't think it's an issue, because If you go to the printer settings in Windows you will see that fax.

[2021-11-09 10:06] #289 closed

[2021-11-11 04:02] HabibulHH opened #290 "Not printing pdf when I am using windows build version of Electron . I am using electron builder"
Uncaught (in promise) Error: spawn \SumatraPDF.exe ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:264)
    at onErrorNT (internal/child_process.js:456)
    at processTicksAndRejections (internal/process/task_queues.js:77)

[2021-11-15 16:21] Patrick-Remy opened #291 "How to handle multiple operating systems?"
**Describe the bug**
I try to support both unix-like and windows printers, and require both `unix-printer` package and this package. I abstracted those libraries in a custom service, that checks the current platform. Unfortunately it fails in runtime, as you throw an error on unsupported platforms. Instead it would be nicer to only throw in case of method call

**Additional context**
[code]

[2021-11-15 16:23] artiebits commented on #291
ah, good catch!

[2021-11-15 18:58] Patrick-Remy opened #292 "TypeScript declaration not correctly referenced"
**Describe the bug**
If I try to import this package, typescript claims about missing types. The `types` field in `package.json` must refer to a single file, see: [https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html](documentation).

**To Reproduce**
Import any type and see the error

**Screenshots**
<img width="1125" alt="Bildschirmfoto 2021-11-15 um 19 55 18" src="http

[2021-11-16 08:41] #292 closed

[2021-11-20 08:35] #276 closed

[2021-11-20 08:41] artiebits opened #297 "Change Printer interface"
To be consistent with [unix-print](https://github.com/artiebits/unix-print) package, refactor:

[code]

to

[code]

[2021-11-20 10:10] aakash1003 commented on #297
@artiebits can you explain the issue ?

[2021-11-20 10:56] artiebits commented on #297
Hi @aakash1003! Some people want to make printing app that works on both Windows and Unix-like Operating systems
(check [this discussion](https://github.com/artiebits/pdf-to-printer/issues/287#issuecomment-958897137)). One of the solutions would be to create a wrapper function like this:

[code]

However, `getDefaultPrinterWindows` and `getDefaultPrinterUnix` return different format of data. So, w

[2021-11-22 15:17] artiebits commented on #297
@aakash1003 let me know if you are interested in implementing the changes, otherwise maybe someone else would like to do contribute

[2021-11-22 19:34] artiebits commented on #291
done #296

[2021-11-22 19:34] #291 closed

[2021-11-23 13:18] sebastianroming commented on #161
@artiebits Has the `win32` option been removed lately? I'm using `5.0.0` but can't find any reference for passing this to Sumatra. Or has it been replaced with a native option I can't find? I need a possibility to define `n` copies of a document.

Thanks!

[2021-11-23 16:22] artiebits commented on #161
hi @sebastianroming. I've refactored the `print` method but I forgot about number of copies. Sorry for that!
We have an open issue for it https://github.com/artiebits/pdf-to-printer/issues/288. Feel free to work on it!

[2021-11-24 05:47] sebastianroming commented on #288
@artiebits I'll look into it

[2021-11-24 07:36] artiebits commented on #288
thank you for picking it up. and let me know if you need any assistance! I would go with `copies` in the `options` object https://github.com/artiebits/pdf-to-printer#printpdf-options--promisevoid

[2021-11-24 18:31] #288 closed

[2021-11-25 10:46] hxdyj opened #303 "add paperkind at printing option"
Sumatra PDF pageSize only support A2, A3, A4, A5, A6, letter, legal, tabloid, statement.
But I need to set paper size to B5 JIS.

at Sumatra PDF new version. It add -paperkind=${num} printing option.

https://www.sumatrapdfreader.org/docs/Version-history [ 3.3 (2021-07-06) ]

https://github.com/sumatrapdfreader/sumatrapdf/issues/1812

[2021-11-25 12:06] artiebits commented on #303
hi @hxdyj could you provide more details about the feature you requesting? I would like to know:
- A clear and concise description of what the problem is.
- A clear and concise description of what you want to happen.

[2021-11-26 01:09] hxdyj commented on #303
Thank for your reply ! I am update the issue.

[2021-11-26 14:33] artiebits commented on #303
hi @hxdyj thanks for providing more details! I have a question tho, did you try `paperSize: 'B5 JIS'`? I know that documentation doesn't mention it, but I have a feeling that should work

[2021-11-27 10:25] m4heshd commented on #290
Probably because the executable could be inside the packaged `asar` archive. You can't spawn any native processes from inside the `asar` file. You have to unpack the whole `pdf-to-printer` module for it to work. Try the following property in `electron-builder` configuration.

[code]

[2021-11-28 08:43] artiebits commented on #297
i decided to close this issue, because I have doubts on how to name the fields of Printer object

[2021-11-28 08:43] #297 closed

[2021-11-28 08:43] artiebits commented on #303
@hxdyj please let me know if it works

[2021-11-28 09:32] hxdyj commented on #303
@artiebits I am sorry. I don't know it work or not. Just find official website changelog add this.

[2021-11-29 07:16] artiebits commented on #303
no problem at all! It would be nice if you try `paperSize: 'B5 JIS'` and let me know if it works. I can't try myself because I don't have a printer anymore.

[2021-11-30 19:20] #303 closed

[2021-12-01 06:43] hxdyj commented on #303
I'am try to this param at printer.  this param need printer support input pagesize, In other words, need printer set the tray pagesize correct, then paperkind will be works.

[2021-12-07 05:36] hxdyj opened #304 "How to get selected printer list of supported page size?"
How to get selected printer list of supported page size?
like
[code]

https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-devicecapabilitiesa   DC_PAPERSIZE
window has c++ function to get this.

[2021-12-10 19:10] matteofranceschini commented on #304
Uhh that would be lovely. I don't think this has been implemented, yet.

[2021-12-11 02:00] hxdyj commented on #304
I am allreay complete self.

[2021-12-11 02:01] hxdyj commented on #304
@matteofranceschini I am allreay complete self.

[2021-12-11 14:19] matteofranceschini commented on #304
how did you manage to solve this issue? I'm interested, too! :)

[2021-12-11 17:37] hxdyj commented on #304
@matteofranceschini
1. I am use edge-js,
2. write c# code get supported pagesize and trays and others.
3. output c# code to dll.
4. edge-js can be call dll's defineded functions.

[2021-12-17 08:26] #304 closed

[2021-12-18 16:12] GitHubRulesOK commented on #289
A Facsimile Printer or Printer with an integrated modem, or Modem with an integrated image printer
Is always a FAX printer, just like any other one.

[2021-12-18 16:19] GitHubRulesOK commented on #276
You can add paperkinds in Windows Forms and if the printer respects them you can use say A4LeftHalf but your on your own for how thats done in Windows System and which printer will accept that as paperkind. So you can define a media output as `55x35mm` but you need to then check if the printer  driver lists that as an acceptable page name or number, It is not down to SumatraPDF it is down to you c

[2021-12-18 16:41] GitHubRulesOK commented on #266
Silent printing is not a good idea whilst SumatraPDF has a -silent switch to STOP error feedback it very heavily relies on Graphics Device Interface thus may fail on headless servers without SHOWING why.

[2021-12-21 13:56] matteofranceschini opened #327 "Cannot print after compiling with PKG --> SumatraPDF.exe ENOENT"
**Describe the bug**

If I run `node index.js` everything works flawlessly. If I want my application compiled for easier deployment on other machines, it does not work.

**To Reproduce**

If I run `pkg index.js` or `pkg .` I get this error (I have pkg installed globally):

[code]

I then changed the extension of the main file as `.cjs` as suggested, and the program compiles and starts correctly, b

[2021-12-21 15:07] matteofranceschini commented on #327
So, at the end of the day, I've solved the issue because I found that you can specify an option for SumatraPDF path, that works like this. `sumatraPdfPath = "C:\\temp\\SumatraPDF.exe"` , just add it with all the other options.

I'll leave it here for future reference, in case anyone has the same issue.

[2021-12-21 15:07] #327 closed

[2022-01-02 02:21] #290 closed

[2022-01-05 16:44] Dellsmell opened #333 "Blank file printed when printDialog is false on zebra printers"
**Describe the bug**
When printing to a Zebra printer [zt510, zt410], while the print dialog parameter is false, the file will be printed as a blank page.

**To Reproduce**
Steps to reproduce the behavior:

1. Set a zebra printer as your default printer.
2. Attempt to print file using pdf-to-printer.
3. A blank page will be printed.

**Expected behavior**
Expected pdf-to-printer to print the file

[2022-01-19 13:08] adamwpe opened #334 "Issue Invalid package electron.asar file"
when trying to run function print, I get this error:
Invalid package C:\Electron\somedirectory\node_modules\electron\dist\resources\electron.asar
    at createError (electron/js2c/asar_bundle.js:5)
    at electron/js2c/asar_bundle.js:5
    at s (bundle.js?50d2:1)
    at s.next (<anonymous>)
    at eval (bundle.js?50d2:1)
    at new Promise (<anonymous>)
    at w (bundle.js?50d2:1)
    at Proxy.ont

[2022-01-20 17:25] ggjonbalaj opened #335 "Unable to get printer/print job status"
Is there a way to get the printer queue status or print job status so I can display to user when their print job is completed?

[2022-01-20 17:45] endrittm commented on #335
I have the same issue here.

[2022-01-23 11:46] artiebits commented on #335
hi guys, this functionality it's not implemented, and I didn't have plans to do it. but feel free to check if it's possible to do and open a PR.

[2022-01-27 10:03] #335 closed

[2022-02-02 15:35] muhammadkaleem57 opened #341 "Print works in development but not production"
I am developing a React-Electron application where I am using this package to print pdf files which works for development but not for the production exe file.

 const filePath = `${app.getPath('documents')}\\test\\test.pdf`
const options = {
                     printer: printerName,
                      paperSize: 'A4',
                      silent : false,
                      printDialog: fal

[2022-02-03 08:08] artiebits commented on #333
Hi @Dellsmell. Sorry for the delay in response. Unfortunately, I don't have a Zebra printer anymore, so I can't investigate the issue :/.
I am not sure tho if the issue with this package or with SumatraPDF that it uses to print docs.

[2022-02-04 12:59] Dellsmell commented on #333
@artiebits  Thanks for the reply. I was able to fix the issue by changing the way I format my PDF documents.

There is no proper page size for a 4x6 label, and A6 is the closest at 4-1/8 x 5-7/8 in. When generating my documents, I was passing the page size 4x6, which causes content to overflow on the page and, for some reason, causes the paper to print blank.

Reducing the actual document size fix

[2022-02-06 06:03] artiebits commented on #333
good to know that your issue is solved! I will close it then :)

[2022-02-06 06:03] #333 closed

[2022-02-18 10:42] demobiel opened #345 "ValidPaperSize"
**Is your feature request related to a problem? Please describe.**
We are wondering why the valid paper size are hardcoded as a constant? We are printing on label printers, and it looks "foolish" to fork this repo only because of this.

**Describe the solution you'd like**
Being able to define custom paper sizes

**Describe alternatives you've considered**
Forking :)

[2022-02-18 15:02] artiebits commented on #345
Hi @demobiel, thank you for reporting the issue. There is another alternative that you might consider. Opening a pull request with an improvement, so other users of this package might benefit from your work!

[2022-02-18 15:17] demobiel commented on #345
I would honestly just not check if the paper size is valid and let the developer who implements your library be responsible for providing a valid paper size. There are libraries available that allows you to check for this.
As you are able to name the paper sizes how you want on a printer, it is really hard to know which paper sizes are available on a printer.

So I see two options:
- implement a r

[2022-02-24 02:18] #334 closed

[2022-03-01 11:59] joaosn opened #352 "Command failed"
I have this problem

in function exec()
error: Command failed: .\SumatraPDF.exe -print-to-default -silent D:\impress\jvffzyzz.pdf

in print-to-pdf
{ Error: Command failed: D:\jv\node_modules\pdf-to-printer\dist\SumatraPDF.exe -print-to-default -silent D:\impress\sfajv.pdf

    at ChildProcess.exithandler (child_process.js:312:12)
    at ChildProcess.emit (events.js:194:13)
    at maybeClose (inter

[2022-03-07 07:55] artiebits commented on #352
Ola Joao! Are you sure that the path to the PDF is correct?

[2022-03-08 06:36] qigaibigbig opened #353 "Can it achieve that the printed content is centered?"
Can it achieve that the printed content is centered?like this
![image](https://user-images.githubusercontent.com/52882460/157180638-a763d7c7-ebf8-4826-8e5e-af03f1e82d53.png)

What I am currently printing out looks like this
![image](https://user-images.githubusercontent.com/52882460/157180782-65a49df1-9bb1-41ed-8f8b-b1ce4e247c22.png)

[2022-03-08 19:35] AtiaDjaber commented on #334
same issue any solution ?

[2022-03-09 08:18] artiebits commented on #353
Hi! This package uses SumatraPDF to print documents, so I suggest you to check its documentation https://www.sumatrapdfreader.org/docs/Command-line-arguments. If it's possible with SumatraPDF then we can make it work in this package too!

[2022-03-10 02:15] qigaibigbig commented on #353
I think it should work, but I don't know how to use this package to debug

[2022-03-10 02:33] #341 closed

[2022-03-13 16:26] xiaadmin opened #354 "Operating System not supported"
when i use getPrintes() function tip: Promise { <rejected> 'Operating System not supported' }

who can help me?

[2022-03-13 16:26] xiaadmin commented on #354
@sebastianroming @rasgo-cc @mcdado

[2022-03-13 16:35] artiebits commented on #354
@xiaadmin do you use this package on Windows? If you are looking for a utility that will work on Unix-like operating systems, please take a look at https://github.com/artiebits/unix-print.

[2022-03-14 14:27] artiebits commented on #354
Okay, first of all, if your OS is macOS then you indeed need to use unix-print package.
Secondly, are you sure your printers installed and work correctly on your machine? Could you try `lpstat -lp` in your terminal, please. What will it print?

[2022-03-15 03:22] xiaadmin commented on #354
my OS is macOS, I have used unix-print package.  "unix-print": "^1.1.0"
run lpstat -lp in  my terminal
print:
![image](https://user-images.githubusercontent.com/37971166/158299618-43bb0212-2c05-4fd4-bde8-10448952d253.png)

[2022-03-15 07:17] artiebits commented on #354
Thank you for providing the logs. Now I understand why the package returns an empty list. There is a regular expression that searches for the `printer` word https://github.com/artiebits/unix-print/blob/master/src/get-printers/get-printers.ts#L13 but in your case, it's all Chinese.

Could you, please

1. Provide me logs not as an image but as text
2. Tell me what is the `printer` and `description`

[2022-03-17 08:08] artiebits commented on #341
@muhammadkaleem57 please take a look at this PR https://github.com/artiebits/pdf-to-printer/pull/258, probably `sumatraPdfPath` option is what you need

[2022-03-26 02:14] JRBARROZ commented on #352
i m having the same issue with this lib, my pdf is correct.

[2022-03-26 02:25] JRBARROZ commented on #352
node:child_process:397
      ex = new Error('Command failed: ' + cmd + '\n' + stderr);
           ^

Error: Command failed: C:\Users\jhona\Desktop\printer_no_pain_no_gain\node_modules\pdf-to-printer\dist\SumatraPDF.exe -print-to-default -silent Amazing.pdf

    at ChildProcess.exithandler (node:child_process:397:12)
    at ChildProcess.emit (node:events:390:28)
    at maybeClose (node:internal/chi

[2022-03-26 02:26] JRBARROZ commented on #352
the error is different, when the file is not found

node:internal/process/promises:246
          triggerUncaughtException(err, true /* fromPromise */);
          ^

[UnhandledPromiseRejection: This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). The promise rejected with the reason "No such file".

[2022-03-26 22:04] joaosn commented on #352
yes my friend is right, my system actually generates the files dynamically, i even found an alternative in another lib, thanks for the attention

[2022-03-26 22:10] joaosn commented on #352
I wish I had used this project, so I could send several PDFs without waiting time
https://github.com/joaosn/gerenciadorImpressaoJV/blob/master/main.js

[2022-03-26 22:11] joaosn commented on #352
code is very simple at a glance main.js
Asim would work. I made an app in electron that keeps monitoring a folder, my web system downloads PDFs files in this folder directly, when this happens my app reads this folder and prints directly without confirmation

[2022-03-27 02:33] #345 closed

[2022-03-29 01:53] GitHubRulesOK commented on #353
centering is not possible as the choice is determined by windows forms thus you over-ride the default (A4/Letter) with the printers output page e.g. 6x4 etc. and scale up or scale down (shrink or fit) for autofit and quality printing of PDF use acrobat, SumatraPDF is designed for GDI/GUI viewing and can send PDF to GUI print drivers that control layouts.

[2022-03-29 09:21] GitHubRulesOK commented on #352
SumatraPDF will give some limited feedback if you follow the advice NEVER RUN SILENT until you have established the routing is static, the messages get discarded when you use -silent thus no way of telling what went wrong.

[2022-04-01 07:03] artiebits commented on #354
@xiaadmin do you still need help to fix the issue?

Anyway, I would appreciate it if you provide me logs not as an image but as text. And show me what are the "printer" and "description" words in Chinese

[2022-04-27 11:35] Semurak commented on #354
Hey, I have to reopen this issue, because I stumbled upon the same issue

I'm on Ubuntu 22.04 LTS.

[code]

[code]

[2022-04-27 11:41] Semurak opened #362 "Operating System Not Supported"
Hey, I have to create another issue, because I'm not able to reopen Issue #354.

[code]

![image](https://user-images.githubusercontent.com/31102747/165510520-6edeff35-05b6-44b0-b168-6fde437f7b92.png)

I'm on Ubuntu 22.04 LTS.

[code]

[code]

[2022-04-27 16:10] artiebits commented on #362
Hi! Pdf-to-printer works on Windows only. I mentioned it in the readme. If you are looking for a utility that will work on Unix-like operating systems, then take a look at https://github.com/artiebits/unix-print. I hope it helps you!

[2022-04-27 16:10] #362 closed

[2022-05-04 16:34] mdere opened #369 "Support Custom Sizes"
**Is your feature request related to a problem? Please describe.**

I have a 4 x 3 label Thermal printer. I was able to successfully print the label out from the simple print function. But it is printing it sideways. I tried to print it with "portrait" or "landscape" orientation - it prints it over 2 labels. If I don't select landscape or portrait and leave the orientation empty it prints a single

[2022-05-05 03:06] #353 closed

[2022-05-05 03:06] #352 closed

[2022-06-01 07:42] sctaix opened #371 "Remote PDF file support?"
Currently, this module support local PDF file only.

print("https://www.orimi.com/pdf-test.pdf").then(console.log);

Is there any plan for supporting PDF file from remote url?

[2022-06-04 05:58] artiebits commented on #371
Hi @sctaix, no such plans. I explained here why I don't want to do it https://github.com/artiebits/pdf-to-printer/issues/257. I am closing this issue, but feel free to re-open it if you want to discuss it :)

have a nice weekend!

[2022-06-04 05:58] #371 closed

[2022-06-09 03:10] #369 closed

[2022-06-11 14:19] FlyingNoob opened #377 "Print image with file path and file data or url"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-18 03:26] #377 closed

[2022-07-19 07:53] xjuanc opened #383 "Slow printing, specially on first attempt"
Hello everyone,

I'm doing background (silent) printing for a POS app and it's usually super slow, specially the first time I print something, it takes a lot of time:

- Around ~10s at slow computers (friend's computers)
- Around ~4s in my computer

After the first print is done, it usually takes much less but way too noticiable for my friends to be happy with it (around ~6s sometimes even more!,

[2022-08-10 19:18] augustosnk12 opened #390 "Question about defaultPrinter"
Hello everyone!!!

I really appreciate the great work all you did with this lib!

BUT today I'm here to question about something that's is killing me: when I pass the printer to the **print** function, everything works fine. The problem is when the windows user has set a "default printer". So, when you set the printer, and there is another printer as "default", it will do the print **twice**. The

[2022-08-24 03:50] #383 closed

[2022-08-24 13:24] ikheeteric opened #391 "Print multiple pages per sheet"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-01 06:55] artiebits commented on #391
Hi, I am sorry to say it, but I am closing this issue because it doesn't explain your problem or request. Feel free to reopen it with a clear and concise description.

[2022-09-01 06:55] #391 closed

[2022-09-01 08:07] artiebits commented on #390
Hi, sorry for the delay in response!

Do I understand it correct that if you have `Microsoft Print to PDF` as a default printer, and do something like this

[code]
then this package will send a file to both `Microsoft Print to PDF` and `Zebra` printers?

Could you please show me your code that prints a file?

[2022-09-01 11:37] augustosnk12 commented on #390
Thanks @artiebits for the response!!! For some reason I can not reproduce this anymore, both the issues I related...maybe I was the mistake 😅

I'll close the issue then.

[2022-09-01 11:37] #390 closed

[2022-09-02 11:52] artiebits commented on #390
great to hear it!

[2022-09-13 18:14] Tieantono opened #397 "Large PDF Size When Printing"
**Is your feature request related to a problem? Please describe.**
I'm currently developing a printing server solution (web app) which will print a PDF file into network printers that connected to the server. I was planning to use this nice package for simplify the PDF printing process. However, I found that the PDF file that will be sent to the printer is quite large, despite the actual PDF file

[2022-09-26 18:45] Qurishe opened #398 "Blank space at top of paper when printed"
**Describe the bug**
@artiebits I get extra white space at the top of the paper (you can see it below in pictures) when using this library.
But when i printed the pdf using Microsoft Edge, the extra space was much less than the one printed with the library.

**To Reproduce**
Steps to reproduce the behavior:

1. Should print the pdf from the top.

**Expected behavior**
Currently the printed paper w

[2022-10-01 09:04] artiebits commented on #397
Hi! It might be an issue with SumatraPDF that we use as a dependency to print files. I have bumped its version and published a beta version `pdf-to-printer@5.4.0-beta.0`. Could you please test it and let me know if it works?

[2022-10-01 09:04] artiebits commented on #398
Hi! It might be an issue with SumatraPDF that we use as a dependency to print files. I have bumped its version and published a beta version `pdf-to-printer@5.4.0-beta.0`. Could you please test it and let me know if it works?

[2022-10-01 09:15] Qurishe commented on #398
Thank you, I will test it and will let u know!

[2022-10-03 12:01] kieranbarlow opened #405 "SumatraPDF.exe loading from dist_electron rather than node_modules/pdf-to-printer folder"
**Describe the bug**
When calling the print function it appears to be using the dist_electron folder as the source for the SumatraPDF.exe.

[2022-10-03 12:20] kieranbarlow commented on #405
How do I tell it to use the node_modules/pdf-to-printer/dist/sumatraPDF.exe version? I've passed

`./node_modules/pdf-to-printer/dist/sumatraPDF.exe`

When calling

[code]

This works in development but not production.

[2022-10-03 12:35] kieranbarlow commented on #405
I managed to get this working, I removed the custom sumatraPdfPath variable from the options when printing and added

`externals: ['pdf-to-printer'],`

I added this line to my vue.config.js file.

[2022-10-03 12:35] #405 closed

[2022-10-03 17:37] Antonio0001999 commented on #398
Did it work? I'm having the same issue and thougth it was related to configuration of scale when executing the print method, but the output doesn't change.

![Image 2022-10-03 at 19 30 56](https://user-images.githubusercontent.com/99355000/193641763-244416c4-2aee-47d2-a06c-3f1858e7d0da.jpeg)

[2022-10-03 18:08] Qurishe commented on #398
Well, i had no luck, i haven't yet tested the beta which @artiebits fixed.
I tested another module called node-pdf-printer

[2022-10-04 17:44] Tieantono commented on #397
Hi, thank you for your update, but the issue still persists, I suppose SumatraPDF doesn't have any option to make the size smaller then?

[2022-10-05 08:57] sassouiabd opened #406 "Support paperSize A7"
I would like to print documents on 7.2cm width, the nearest paperSize is the A7 format
Is it possible to support this size or is there a workaround ?

[2022-10-21 02:45] vjose1903 opened #407 "Support PaperSize Halfletter"
I would like to print documents on 8.5 inches width 5.5 inches height, the paperSize is the halfletter format
Is it possible to support this size please?

[2022-11-01 10:34] artiebits commented on #397
Hi @Tieantono, sorry for the delay in response. If it didn't help then I am afraid there is nothing I can do within this package to fix this issue. :(

[2022-11-01 10:34] #397 closed

[2022-11-01 10:46] artiebits commented on #398
hi guys! I am closing this issue because If release v5.4.0 didn't help then I am afraid there is nothing I can do within this package because it uses SumatraPDF to print files

[2022-11-01 10:46] #398 closed

[2022-11-01 10:56] artiebits commented on #406
Hi @sassouiabd, sorry for the delay in response.

There was a PR to remove paperSize validation because you can pass any size but that PR was not finished so I closed it https://github.com/artiebits/pdf-to-printer/pull/370. Let me know if you would like to finish it, otherwise I will do it this weekend

[2022-11-01 10:57] artiebits commented on #407
Hi @vjose1903, I will make it work this weekend and let you know!

[2022-11-05 08:09] touhidurrr opened #415 "Bug: noscale + portrait print landscaped document"
as specified in the title. The following code is printing landscape documents even though the input is portrait.
[code]

[2022-11-06 16:02] artiebits commented on #407
hi @vjose1903 I have published a beta version `pdf-to-printer-5.4.1-beta.0`. could you please try it and let me know if it work for you?

[2022-11-06 16:03] artiebits commented on #406
hi @sassouiabd, I have published a beta version `pdf-to-printer-5.4.1-beta.0`. could you please try it and let me know if it work for you?

[2022-11-06 16:40] vjose1903 commented on #407
Hi @artiebits i will do in the next days thanks

Sent from Samsung Mobile on O2
Obtener Outlook para Android<https://aka.ms/AAb9ysg>
________________________________
From: artiebits ***@***.***>
Sent: Sunday, November 6, 2022 12:03:06 PM
To: artiebits/pdf-to-printer ***@***.***>
Cc: Victor Vásquez ***@***.***>; Mention ***@***.***>
Subject: Re: [artiebits/pdf-to-printer] Support PaperSize Halflett

[2022-11-09 20:20] #406 closed